<!doctype html>

<html class="no-js" lang="en"> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        
        {% block title %}
            <title>Logincidents</title>
        {% endblock title %}
        <meta name="description" content="Logincindents">
        <meta name="author" content="Logincidents">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        {% block css %}
            <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
        {% endblock css %}
       
        {% block script %}
            <script type="text/javascript" src="/static/js/mootools-core-1.4.2-full-compat-yc.js"></script>
            <script type="text/javascript" src="/static/js/mootools-more-1.4.0.1.js"></script>
            <script type="text/javascript" src="/static/js/common.js"></script>
        {% endblock script %}
        
    </head>

    <body id="{% block body_id %}base{% endblock body_id %}">
        <div class="container" >
            {% block body %}
                
                    {% spaceless %}
                        <div class="header" >
                            {% block header %}
                                <!-- Header -->
                            {% endblock header %}
                        </div>
                        {% block banner %}
                            <div class="banner" >
                                <!-- Banner -->
                            </div>
                        {% endblock banner %}
                        <div class="content" >
                            {% block content %}
                                <h1>Welcome </h1>
                            {% endblock content %}
                        </div>
                        <div class="footer" >
                            {% block footer %}
                               <!-- Footer -->
                            {% endblock footer %}
                        </div>
                    {% endspaceless %}
                
            {% endblock body %}
        </div>       
    </body>
</html>
